{% extends "base.html" %}

{% block title %} {{article.name}} {% endblock %}


{% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h1>{{article.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>{{article.text}}</h2>
        <p>{% lorem 5 p %}</p>
    </div>
</div>

{% if user.id == article.user.id%}
    <div class="row my-4">
        <div class="col-6">
            <a href="{% url 'articles:update' pk=article.id %}" class="btn btn-success" role="button" data-bs-toggle="button type='button'">Изменить статью</a>
            <a href="{% url 'articles:delete' pk=article.id %}" class="btn btn-danger" role="button" data-bs-toggle="button type='button'">Удалить статью</a>
        </div>
    </div>
{% endif %}
<hr>

{% if user.is_authenticated%}
<div class="row">
    <div class="col-6">
        <form action="{% url 'articles:save' %}" method="post"> {% csrf_token %}
            <p>{{user.username.title}}</p>
            <div class="my-2">{{form.text}}</div>
            <input type='hidden' name='user' value='{{user.id}}'/>
            <input type='hidden' name='post' value='{{article.id}}'/>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-end">
                        <input class="btn btn-success" type="submit" value="Отправить">
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
{% endif %}
<hr>
<h4 class="display-4">Комментарии:</h4>
<div class="row">
    <div class="col-8">
        <table class="table table-dark table-striped bottom-zero">
          <tbody>
          {% for comment in comments %}
            <tr>
              <th scope="row">
                  <!--<div class="container"> -->
                      <div class="row">
                          <div class="col-1">
                              <img class="text-start" src="https://img.icons8.com/ios/60/000000/cat-profile.png"/>
                          </div>
                          <div class="col-10 comment-size">
                              <small class="head-comm">{{comment.user.all.first}}, {{comment.pub_date| date:"G:i - d.m.y"}}</small>
                              <p class="comment">{{comment.text}}</p>
                              <small class="head-comm">
                                  <a href="{% url 'articles:all' pk=comment.user.all.first.id %}">Статьи пользователя</a>
                              </small>
                          </div>
                      </div>
                  <!--</div>-->
              </th>

            </tr>
          {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
