{% extends "base.html" %}

{% block title %} {{article.name}} {% endblock %}


{% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h1>{{article.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>{{article.text}}</h2>
        <p>{% lorem 5 p %}</p>
    </div>
</div>

{% if user.is_authenticated %}
    <div class="row my-4">
        <div class="col-6">
            <a href="{% url 'articles:update' pk=article.id %}" class="btn btn-success" role="button" data-bs-toggle="button type='button'">Изменить статью</a>
            <a href="{% url 'articles:delete' pk=article.id %}" class="btn btn-danger" role="button" data-bs-toggle="button type='button'">Удалить статью</a>
        </div>
    </div>
{% endif %}


{% endblock %}
